@font-face {
    font-family: "Inter";
    font-weight: 300;
    src: url('./assets/fonts/Inter-Light.ttf');
}

@font-face {
    font-family: "Inter";
    font-weight: 400;
    src: url('./assets/fonts/Inter-Regular.ttf');
}

@font-face {
    font-family: "Inter";
    font-weight: 500;
    src: url('./assets/fonts/Inter-Medium.ttf');
}

@font-face {
    font-family: "Inter";
    font-weight: 700;
    src: url('./assets/fonts/Inter-Bold.ttf');
}

* {
    font-family: "Inter";
    color: #FFFB;
    transition: all 0.1s;
    user-select: none;
    font-size: 14px;
}

*::selection {
    background-color: #FFF2;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: #FFF2;
}

body {
    background-color: #0d1117;
    margin: 30px;
}

root {
    display: block;
    padding: 25px 30px;
    border: 1px solid #FFF3;
    border-radius: 10px;
    max-width: 900px;
    margin: auto;
}

root :first-child { margin-top: 15px; }
root :last-child { margin-bottom: 15px; }

root > div > * {
    margin-left: 15px;
}

div.config { display: none; }

blockquote {
    padding: 0px 0px 0px 30px;
    margin: 10px 0px;
}

h1, h2, h3, h4, h5, h6 {
    display: block;
    font-weight: bold;
    margin: 20px 0px;
    margin-left: 0px !important;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1em; }
h5 { font-size: .83em; }
h6 { font-size: .67em; }

div {
    margin: 20px 0px;
    font-size: 16px;
    line-height: 20px;
}

li {
    margin: 8px 0px;
    font-size: 14px;
}

code {
    font-family: Consolas, monospace;
    background-color: rgba(110,118,129,0.4);
    padding: 3px 7px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
}

code:hover {
    background-color: rgba(110,118,129,0.6);
}

code:active {
    background-color: rgba(110,118,129,0.3);
}

code.copied {
    color: #3fb850;
    box-shadow: inset 0px 0px 0px 1px #3fb850;
}

pre {
    background-color: #161b22;
    border-radius: 10px;
    padding: 15px 20px;
    max-height: 450px;
    overflow: auto;
    margin: 10px 0px;
}

pre, pre * {
    font-family: Consolas, monospace;
    font-size: 15px !important;
    user-select: text;
}

a {
    text-decoration: none;
    color: #58a6ff;
}

a:hover {
    text-decoration: underline;
}